/*
Color Palette
Red: #F52634
Blue: #0F88FC
Teal: #0FFCDD
Orange: #F57E18
Pink: #F5A2EC
Purple: #9400D3
*/

body {
  background-color: black;
  font-family: "Optima";
  text-align: center;
}

.image-two img {
  border-radius: 50%;
}

/* id selector */

#title {
  font-size: 30px;
  color: black;
  margin: calc(50vh - 30px) auto 0 auto;
  -webkit-text-stroke: 1px #0F88FC;
  border: 5px solid #F52634;
  box-shadow: 10px -10px 0 -3px black, 10px -10px #F57E18,
        20px -20px 0 -3px black, 20px -20px #0F88FC,
        30px -30px 0 -3px black, 30px -30px #0FFCDD,
        40px -40px 0 -3px black, 40px -40px #F5A2EC;
  padding: 15px;
  display: inline-block;
  font-family: Montserrat;
}

#title:hover {
  font-weight: 700;
  color: #0FFCDD;
}

/* class selector */

.authors-note {
  background-color: #F5A2EC;
  color: #F5A2EC;
  font-family: Montserrat;
}
.authors-note:hover{
  background-color: black;
  color: #F57E18;
  font-family: Montserrat;

}
.double-border {
  width: 100px;
  height: 100px;
  border: 3px double #0FFCDD;
  padding: 1px;
  margin: auto;
}
.content-h2:first-line{
  font-family: Rossela;
  color: #9400D3;
}
.content-h2{
  font-family: Rossela;
  color: #F5A2EC;
}


/* element selector */

h3 {
  font-family: Rossela;
  color: #0F88FC;
}
h4 {
  font-family: Rossela;
  color: #F5A2EC;
}
