/*
Color Palette
Brown: #45291a
burnt orange: #a43a1d
red: #a42725
orange: #d64b1c
tan: #93753a
off white: #efebc8
*/

/* INDEX */

/* body */

body {
  background-color: #a43a1d;
  font-family: "FrontPage";
  text-align: center;
  margin: 10%;
}

#title {
  font-size: 30px;
  color: #45291a;
  margin:auto;
  padding: 15px;
  display: inline-block;
  font-family: "FrontPage";
  font-kerning: auto;
  letter-spacing: normal;
}

#firstsection {
  background-color: #a42725;
  font-size: 20;
  color: #45291a;
  text-align: right;
  padding: 15px;
  font-family: "FrontPage";
  line-height: normal;
  font-kerning: auto;
  letter-spacing: normal;
}

#secondsection {
  background-color: #a42725;
  font-size: 20;
  color: #45291a;
  text-align: left;
  padding: 15px;
  font-family: "FrontPage";
  line-height: normal;
  font-kerning: auto;
  letter-spacing: normal;
}

#thirdsection {
  background-color: #a42725;
  font-size: 20;
  color: #45291a;
  text-align: right;
  padding: 15px;
  font-family: "FrontPage";
  line-height: normal;
  font-kerning: auto;
  letter-spacing: normal;
}

#contentsection1 {
  background-color: #a42725;
  font-size: 20;
  color: #45291a;
  text-align: center;
  padding: 15px;
  font-family: "FrontPage";
  line-height: normal;
  font-kerning: auto;
  letter-spacing: normal;
}

a{
  text-decoration: none;
  color: #efebc8;
  -webkit-text-stroke: 0.25px #44271b;
}

a:hover{
  color: #a42725;
}

#firstsection:hover{
  color: #efebc8;
  background-color: #45291a;
}

#secondsection:hover{
    color: #efebc8;
    background-color: #45291a;
}

#thirdsection:hover{
  color: #efebc8;
  background-color: #45291a;
}

#contentsection1:hover{
  color: #efebc8;
  background-color: #45291a;
}




/* menu style */

header {
  position: fixed;
  height: 4em;
  width: 99%;
  top: 0px;
  font-family: "FrontPage";
  text-align: right;
}

/* layout of menu */

.menu-item {
  display: inline-block;
  position: absolute;
  top: 50px;
  right: 20px;
  text-align: center;
  background-color: #45291a;
  margin: 2em .2em;
  padding: 0.5em 2em;
  border-radius: .1em;

}

/* style links */

.menu-item a {
  color: #efebc8;
  text-decoration: none;
}

.menu-item:hover {
    background-color: #d64b1c;
}

/* dropdown */

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin: 0.5em 0 0 -1em;
    padding: 0.5em 0 0 -1em;
    color: #efebc8;
    background-color: #d64b1c;
    z-index: 2;

}

.dropdown-content a {
    color: #efebc8;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: #44271b;
}
